*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container-in{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}